:root {
    --colorPrimary: #fff12f;
    --colorSecundary: #ffffff;
  }
  
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.6;
    /* scroll-behavior: smooth; */
  }
  
*,
*::after,
*::before {
    box-sizing: inherit;
  }
body {
    margin: 0;
    /* overflow: hidden; */
    background-color: aqua;
}


a{
    color: blue;
    transition: color 0.3s ease;
}

a:hover {
    color: cadetblue;
}

.loader {
    margin: 1rem auto;
    display: block;
    width: 4rem;
    height: 4rem;
}

.error {
    padding: 1rem;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: red;
}

.error mark {
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: inline-block;
    color: #ffffff;
    background-color: blue;
}

.search-form {
    margin: auto;
    text-align: center;
}

.search-form input {
    display: block;
    margin: auto;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

header {
    padding: 0.5rem;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #ffffff;
}

header > * {
    margin: 1rem auto;
}


.post-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: #ffffff;
}

.post-card p {
    display: flex;
    justify-content: space-between;
}
.post-card img {
    width: 200px;
    height: 200px;
}

.grid-fluid {
    margin: 1rem auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}


.post-page {
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: #ffffff;
}

.post-page > aside {
    margin: auto;
    width: 60%;
    text-align: center;
}

.post-page > hr {
    border: thin solid #ffffff;
    margin: 2rem auto;
    width: 80%;
}

.post-page time {
    margin: 1rem auto;
    display: block;
}

.post-page > article {
    padding: 0 2rem;
}


.post-page img,
.post-page figure,
.post-page audio,
.post-page iframe,
.post-page video {
    margin: auto;
    display: block;
    max-width: 100%;
}
